body,
html {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.bg {
  background-image: url("../img/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 108.2px);
  .city {
    color: white;
  }
  .time {
    padding: 0;
    margin: 0;
    left: 5px;
    bottom: 5px;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .city::first-letter {
    text-transform: uppercase;
  }
}

.navbar-brand {
  font-size: 3vw;
}
@media (min-width: 992px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
  .temperature {
    font-size: 6rem;
  }
}
@media (max-width: 992px) {
  .navbar-brand {
    font-size: 2rem;
  }
  .bg {
    height: calc(100vh - 90.2px);
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .bg {
    height: 100vh;
  }
  .time {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .city {
    font-size: 0.8rem;
  }
  .time {
    font-size: 0.8rem;
  }
}
@media (max-width: 313px) {
  .city {
    font-size: 0.7rem;
    left: 0.3%;
  }
  .navbar-toggler {
    margin: auto;
  }
}
